.categories button {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;

  transition: all 0.3s;
}
.categories button:hover {
  background: #ddd;
}

.dropdown {
  max-height: 0px;
  overflow: hidden;
  display: none;

  transition: max-height 0.3s;
}

.dropdown button {
  border-bottom: 0;
}

.dropdownShow {
  max-height: 500px;
  display: block;
}

.hover-btn {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.hover-btn button {
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: #e4ae0b;
  border-radius: 100%;
  margin-bottom: 8px;
  color: #000;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: scale(0.96);

  transition: all 0.2s;
}
.hover-btn button:hover {
  background: #dda600;
  transform: scale(1);
}
.product-card {
  box-shadow: 0 20px 27px 0px #0000000d, 0 20px 27px 0px #0000000d !important;
  border-radius: 8px;
}
.product-card:hover .hover-btn {
  visibility: visible;
  opacity: 1;
}
